---
import { Image } from "astro:assets";

interface Props {
  heading?: string;
  cardContent?: string;
  imageSrc: ImageMetadata;
  headingEditableKey?: string;
  contentEditableKey?: string;
  large?: boolean;
}

const {
  heading,
  cardContent,
  imageSrc,
  headingEditableKey,
  contentEditableKey,
  large = false,
} = Astro.props;
---

<article>
  <div class="md:h-[100px] flex items-end">
    <Image
      class={large
        ? "h-16 md:h-[100px] w-fit object-contain"
        : "h-16 md:h-[72px] w-fit object-contain"}
      src={imageSrc}
      alt=""
      width={600}
      height={0}
    />
  </div>

  <h3 class="mt-4" data-editable={headingEditableKey} set:html={heading} />
  <p class="" data-editable={contentEditableKey} set:html={cardContent} />
</article>
