---
import PageHeader from "./PageHeader.astro";
import TextSection from "./TextSection.astro";

import { heroImage } from "../assets/images";

interface Props {
  heading?: string;
  subheading?: string;
  contactName?: string;
  contactEmail?: string;
  contactPhone?: string;
}

const {
  heading = "Kontakt",
  subheading = "För mer information om hur vi kan hjälpa ert projekt.",
  contactName = "Olle Bjurström (CEO)",
  contactEmail = "olle@pollux.se",
  contactPhone = "+46 (0)70 532 71 65",
} = Astro.props;
---

<section id="contact" class="min-h-screen bg-custom-gray">
  <PageHeader
    altText="Contact Image"
    headingText={heading}
    subHeadingText={subheading}
    bgColor="#f4f4f4"
    blackText={true}
    headingEditableKey="contact_heading"
    subHeadingEditableKey="contact_subheading"
  />
  <TextSection textSectionContent={""} grayBackground={true} pageName="Kontakt">
    <p class="text-4xl" data-editable="contact_name">{contactName}</p>
    <p class="text-4xl" data-editable="contact_email">{contactEmail}</p>
    <p class="text-4xl" data-editable="contact_phone">{contactPhone}</p>
  </TextSection>
</section>
