---
import PageHeader from "./PageHeader.astro";
import TextSection from "./TextSection.astro";

import { heroImage } from "../assets/images";

interface Props {
  heading?: string;
  subheading?: string;
  contactName?: string;
  contactEmail?: string;
  contactPhone?: string;
}

const {
  heading = "Kontakt",
  subheading = "För mer information om hur vi kan hjälpa ert projekt.",
  contactName = "Olle Bjurström (CEO)",
  contactEmail = "olle@pollux.se",
  contactPhone = "+46 (0)70 532 71 65",
} = Astro.props;
---

<section id="contact" class="min-h-screen bg-white sm:bg-[#f4f4f4]">
  <PageHeader
    altText=""
    headingText={heading}
    subHeadingText={subheading}
    bgColor="#f4f4f4"
    blackText={true}
    headingEditableKey="contact_heading"
    subHeadingEditableKey="contact_subheading"
  />
  <TextSection
    textSectionContent={""}
    grayBackground={true}
    whiteBackgroundOnMobile={true}
    pageName="Kontakt"
  >
    <div>
      <p
        class="text-[24px] sm:text-[42px] leading-[1.2]"
        data-editable="contact_name"
        set:html={contactName}
      />
      <p
        class="text-[24px] sm:text-[42px] leading-[1.2]"
        data-editable="contact_email"
        set:html={contactEmail}
      />
      <p
        class="text-[24px] sm:text-[42px] leading-[1.2]"
        data-editable="contact_phone"
        set:html={contactPhone}
      />
    </div>
  </TextSection>
</section>
