---
import { Image } from "astro:assets";
import { logo } from "../assets/icons";
interface Props {
  email?: string;
  phone?: string;
}

const { email, phone } = Astro.props;
---

<section
  id="footer"
  class="py-4 px-4 bg-gray-50 min-h-[60dvh] bg-brand text-black relative"
>
  <footer>
    <div class="flex justify-between">
      <div class="hidden md:block">
        Copyright © {new Date().getFullYear()} Pollux
      </div>
      <div class="grid md:grid-cols-3">
        <div>
          <a href="#" class="text-2xl md:text-base hover:underline">Pollux</a>
        </div>
        <div class="flex flex-col">
          <a href="#about" class="text-2xl md:text-base hover:underline"
            >Konsulterande</a
          >
          <a href="#services" class="text-2xl md:text-base hover:underline"
            >Om Pollux</a
          >
          <a href="#clients" class="text-2xl md:text-base hover:underline"
            >Kunder</a
          >
          <a href="#contact" class="text-2xl md:text-base hover:underline"
            >Kontakt</a
          >
        </div>
        <div class="hidden md:flex flex-col">
          <a
            href={`mailto:${email}`}
            class="text-2xl md:text-base hover:underline">{email}</a
          >
          <a href={`tel:${phone}`} class="text-2xl md:text-base hover:underline"
            >{phone}</a
          >
        </div>
      </div>
    </div>

    <Image src={logo} alt={""} class="right-4 bottom-4 absolute invert" />
  </footer>
</section>
