---
import { Image } from "astro:assets";

interface Props {
  imageSrc?: any;
  altText?: string;
  headingText: string;
  subHeadingText: string;
  bgColor?: string;
  blackText?: boolean;
  headingEditableKey?: string;
  subHeadingEditableKey?: string;
}

const {
  imageSrc,
  altText,
  headingText,
  subHeadingText,
  bgColor,
  blackText,
  headingEditableKey,
  subHeadingEditableKey,
} = Astro.props;
---

<div
  class="image-text-block relative h-[70dvh]"
  style={bgColor ? `background-color: ${bgColor}` : undefined}
>
  {
    // Only display image if imageSrc is provided
    // If not provided, still render the div for layout purposes
  }

  {
    imageSrc && (
      <Image
        class="h-full w-full object-cover"
        src={imageSrc}
        alt={altText || ""}
        width={0}
        height={0}
      />
    )
  }

  <div class="absolute bottom-0 lg:ml-[170px] px-4 mx-4">
    <h1>
      <span data-editable={headingEditableKey} set:html={headingText} />
      <span
        class:list={["block", blackText ? "text-black" : "text-white"]}
        data-editable={subHeadingEditableKey}
        set:html={subHeadingText}
      />
    </h1>
  </div>
</div>
