---
interface Props {
  textSectionHeading?: string;
  textSectionContent: string;
  grayBackground?: boolean;
  whiteBackgroundOnMobile?: boolean;
  pageName: string;
  headingEditableKey?: string;
  contentEditableKey?: string;
}
const {
  textSectionHeading,
  textSectionContent,
  grayBackground,
  whiteBackgroundOnMobile = false,
  pageName,
  headingEditableKey,
  contentEditableKey,
} = Astro.props;
---

<div
  class:list={[
    "grid grid-cols-[1fr_1fr] sm:grid-cols-[170px_1fr] md:gap-x-0 sm:pr-8 gap-x-4 grid-cols-[auto_1fr] gap-4 py-4 pb-16 px-4",
    { "bg-custom-gray": grayBackground && !whiteBackgroundOnMobile },
    { "bg-white sm:bg-[#f4f4f4]": whiteBackgroundOnMobile },
  ]}
>
  <p class="text-sm md:pl-4">Pollux</p>
  <p class="text-sm">{pageName}</p>
  <div class="col-start-2 col-span-2 mt-4">
    {
      textSectionHeading && (
        <h2 data-editable={headingEditableKey} set:html={textSectionHeading} />
      )
    }
    <p
      class="large"
      data-editable={contentEditableKey}
      set:html={textSectionContent}
    />
    <slot />
  </div>
</div>
